
@{
    ViewBag.Title = "print_out";
}

<script>
    function GetClientReport() {
        window.open('/get_decuments/GetReport, "_blank"');
};
</script>
<button onclick="GetClientReport"  class="btn btn-success btn-fw"></button>